:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes animationTitle {

  0%,
  100% {
    -webkit-clip-path: polygon(17% 53%, 30% 60%, 46% 66%, 100% 62%, 100% 100%, 100% 100%, 26% 100%, 0 100%, 0 26%, 8% 43%);
    clip-path: polygon(17% 53%, 30% 60%, 46% 66%, 100% 62%, 100% 100%, 100% 100%, 26% 100%, 0 100%, 0 26%, 8% 43%);
  }

  50% {
    -webkit-clip-path: polygon(37% 53%, 52% 56%, 75% 63%, 100% 65%, 100% 100%, 100% 100%, 26% 100%, 0 100%, 0 60%, 18% 56%);
    clip-path: polygon(37% 53%, 52% 56%, 75% 63%, 100% 65%, 100% 100%, 100% 100%, 26% 100%, 0 100%, 0 60%, 18% 56%);
  }


}

#app {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;

  & #titleAnimation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 20vw;

    & p {
      position: absolute;
      color: #fff;
      transform: translate(0%, 0%);
      font-size: 8em;

      &:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px #03a9f4;
      }

      &:nth-child(2) {
        color: #03a9f4;
        animation: animationTitle 4s ease-in-out infinite;
      }
    }


  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}